n8n.json
{
  "name": "FocusLoop Intervention Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "student-failed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-student-failed",
      "name": "Student Failed Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "student-failed-trigger"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "to": "ashutoshj2810@gmail.com",
        "subject": "=🚨 FocusLoop Intervention Required for {{ $json.name || 'Student' }}",
        "emailType": "html",
        "message": "=<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; border-radius: 10px 10px 0 0; text-align: center; }\n    .content { background: #f9f9f9; padding: 30px; border-radius: 0 0 10px 10px; }\n    .alert-box { background: #fff3cd; border-left: 4px solid #ffc107; padding: 15px; margin: 20px 0; }\n    .stats { background: white; padding: 20px; border-radius: 8px; margin: 20px 0; }\n    .stat-row { display: flex; justify-content: space-between; padding: 10px 0; border-bottom: 1px solid #eee; }\n    .stat-label { font-weight: bold; color: #666; }\n    .stat-value { color: #333; }\n    .critical { color: #dc3545; font-weight: bold; }\n    .button { display: inline-block; padding: 15px 30px; background: #28a745; color: white; text-decoration: none; border-radius: 5px; margin: 20px 0; font-weight: bold; text-align: center; }\n    .button:hover { background: #218838; }\n    .footer { text-align: center; color: #666; font-size: 12px; margin-top: 20px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🚨 Intervention Required</h1>\n      <p>A student needs your immediate attention</p>\n    </div>\n    <div class=\"content\">\n      <div class=\"alert-box\">\n        <strong>⚠️ Alert:</strong> Student has fallen below performance thresholds and requires mentorship intervention.\n      </div>\n      \n      <div class=\"stats\">\n        <h2>Student Details</h2>\n        <div class=\"stat-row\">\n          <span class=\"stat-label\">Name:</span>\n          <span class=\"stat-value\">{{ $json.name || 'N/A' }}</span>\n        </div>\n        <div class=\"stat-row\">\n          <span class=\"stat-label\">Student ID:</span>\n          <span class=\"stat-value\">{{ $json.student_id || 'N/A' }}</span>\n        </div>\n        <div class=\"stat-row\">\n          <span class=\"stat-label\">Current State:</span>\n          <span class=\"stat-value critical\">{{ $json.state || 'Locked' }}</span>\n        </div>\n        <div class=\"stat-row\">\n          <span class=\"stat-label\">Quiz Score:</span>\n          <span class=\"stat-value {{ $json.quiz_score <= 7 ? 'critical' : '' }}\">{{ $json.quiz_score || 0 }}/10</span>\n        </div>\n        <div class=\"stat-row\">\n          <span class=\"stat-label\">Focus Minutes:</span>\n          <span class=\"stat-value {{ $json.focus_minutes <= 60 ? 'critical' : '' }}\">{{ $json.focus_minutes || 0 }} minutes</span>\n        </div>\n        <div class=\"stat-row\">\n          <span class=\"stat-label\">Timestamp:</span>\n          <span class=\"stat-value\">{{ $json.timestamp || $now.format('YYYY-MM-DD HH:mm:ss') }}</span>\n        </div>\n      </div>\n\n      <div style=\"text-align: center; margin: 30px 0;\">\n        <p><strong>Action Required:</strong></p>\n        <p>Please review the student's performance and assign an appropriate remedial task.</p>\n        <a href=\"{{ $json.webhook_url }}/mentor-approval?student_id={{ $json.student_id }}&name={{ $json.name }}&score={{ $json.quiz_score }}&focus={{ $json.focus_minutes }}&task=Review study materials and complete practice exercises\" class=\"button\">\n          📋 Assign Intervention\n        </a>\n      </div>\n\n      <div class=\"footer\">\n        <p>FocusLoop Intervention Engine | Powered by Alcovia</p>\n        <p>This is an automated notification. The student's app is currently locked pending your review.</p>\n      </div>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-mentor-email",
      "name": "Send Mentor Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "mentor-approval",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-mentor-approval",
      "name": "Mentor Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [650, 300],
      "webhookId": "mentor-approval-trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://alcovia-server.onrender.com/api/assign-intervention",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"student_id\": \"{{ $json.query.student_id }}\",\n  \"task\": \"{{ $json.query.task || 'Review study materials and complete practice exercises' }}\",\n  \"quiz_score\": {{ $json.query.score || 0 }},\n  \"focus_minutes\": {{ $json.query.focus || 0 }},\n  \"intervention_details\": {\n    \"requested_at\": \"{{ $now.toISO() }}\",\n    \"status\": \"pending\",\n    \"mentor_action_required\": true,\n    \"mentor_email\": \"ashutoshj2810@gmail.com\"\n  }\n}",
        "options": {}
      },
      "id": "assign-intervention-api",
      "name": "Call Assign Intervention API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=✅ Intervention Successfully Assigned\n\nStudent: {{ $json.query.name || 'Unknown' }}\nStudent ID: {{ $json.query.student_id }}\nTask: {{ $json.query.task || 'Review study materials and complete practice exercises' }}\n\nThe student has been moved to remedial state and will see their assigned task when they next access the app.\n\nYou can close this window now.",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "respond-to-mentor",
      "name": "Respond to Mentor",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=✅ Webhook Received\n\nStudent intervention request has been logged.\nMentor notification email will be sent shortly.\n\nStudent ID: {{ $json.body.student_id }}\nStatus: {{ $json.body.state }}",
        "options": {}
      },
      "id": "respond-webhook-received",
      "name": "Respond - Webhook Received",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 500]
    }
  ],
  "connections": {
    "Student Failed Webhook": {
      "main": [
        [
          {
            "node": "Send Mentor Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond - Webhook Received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Mentor Email": {
      "main": [
        []
      ]
    },
    "Mentor Approval Webhook": {
      "main": [
        [
          {
            "node": "Call Assign Intervention API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Assign Intervention API": {
      "main": [
        [
          {
            "node": "Respond to Mentor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-11-25T00:00:00.000Z",
  "versionId": "1"
}